@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Pursuing my Bachelor's degree in Computer Engineering.
    </p>

    <p>
        My Hobbies include developing Web Applications and Android Applications. I also love to do Photography in my leisure time.
    </p>

    <p>
        I also love to go on treks when I am exhausted from my schedule. I love to go on Himalayan Trek once a year.
    </p>
</article>

<aside>
    <h3>Coming soon</h3>
    <p>
        
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>